form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 12px;              
}

textarea{
  height: 100px;
  width: 300px;
}

.mistake-word {
  color: red;
  margin-right: 10px;
}

.add-word-btn {
 margin-bottom: 10px;
}